[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DGM"]
	path = DGM
	url = https://github.com/schw4b/dgm
[submodule "emov"]
	path = emov
	url = https://github.com/schw4b/emov
